<nav class="navbar">
  <div class="navbar-brand">
    <div *ngIf="username !== null">
      <span class="text-white">Welcome {{username}}</span>
      <small><a class="text-white mx-3" (click)="logout()"> >> Log out</a></small>
    </div>
    <div *ngIf="username === null">
      <small><a class="text-white mx-3" routerLink="/login"> >> Log in</a></small>
    </div>
  </div>
  <div class="form-inline">
    <h2 class="text-end px-5"><a class="text-white" routerLink="">My blog</a></h2>
    <ul class="list-unstyled d-flex list-inline justify-content-end mx-4">
      <li class="mx-3" *ngFor="let category of categories"><a [routerLink]="['blog-list',category.id]" class="text-white">{{category.name}}</a></li>
    </ul>
  </div>
</nav>
