<h2>Write your story</h2>
<form [formGroup]="blogForm" (ngSubmit)="createBlog()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="text" class="form-control" id="image" formControlName="image">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea class="form-control" id="content" rows="10" formControlName="content"></textarea>
  </div>
  <div>
    <button class="btn btn-outline-dark">Save my blog</button>
  </div>
</form>
