<!--Footer-->
<footer>
  <div class="row">
    <div class="col-md-9 d-flex align-items-end justify-content-end">
      <ul class="list-unstyled list-inline text-end">
        <li><h4 class="text-end">What you looking for..?</h4></li>
        <li *ngFor="let category of categories">
          <a href="">{{category}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3"><img src="/assets/images/tree2.png" alt="tree" class="img-fluid float-end"/></div>
  </div>
</footer>
<!--End footer-->
