.img-main {
	width: 400px;
	height: 400px
}
.img-sm {
	width: 100px;
	height: 150px;
}
.container {
  position: relative;
  text-align: center;
  color: black;
}
.left {
  position: absolute;
  top: 20%;
  left: 25%;
}

